.Page {
    padding: 20px;
    padding-top: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0px steelblue;
    flex-grow: 1;
    height: fit-content;
}

.PageMarginContainer {
    margin: 30px 50px;
    flex-grow: 1;
}

.PageTitle {
    text-align: center;
}

.LogInPage-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.PageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DoctorList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SortingBlock {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.SortingBlock select {
    margin: 0 10px;
    padding: 5px;
    border-radius: inherit;
    color: steelblue;
    border-color: steelblue;
    font-size: 16px;
}

.ContactBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

.ContactMap {
    width: 100%;
    min-width: 150px;
}

.ContactInfo {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.ContactInfo h3 {
    font-size: 24px;
    text-align: center;
}

.ContactInfo div {
    margin: 10px 0px;
}