.AppointmentBlock {
    background-color: aliceblue;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    height: 300px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1050px) {
    .AppointmentBlock {
        margin: 0;
        padding: 0;
        height: fit-content;
    }
}