.SearchContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.SearchContainer.mobile {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.SearchInputContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.SearchResults {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: calc(100% - 20px);
    min-width: 250px;
    /* max-width: 600px; */
    border-radius: 10px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    max-height: 500px;
    overflow-y: auto;
}

.SearchResults.active {
    visibility: visible;
    opacity: 1;
}

.Search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
    margin: 0 10px;
    /*border: 1px solid steelblue;*/
    border-radius: 100px;
    transition: all 1s ease-in-out;
    min-width: 150px;
    width: 150px;
    background-color: rgba(70, 131, 180, 0.1);
    box-sizing: content-box;
}

.Search.active {
    width: 100%;
}

.Search svg {
    min-width: 15px;
    height: 15px;
    margin: 0 10px;
    fill: steelblue;
}

.Search input {
    /*background-color: whitesmoke;*/
    background-color: transparent;
    border: none;
    padding-right: 15px;
    font-size: 16px;
    color: steelblue;
    transition: all 1s ease-in-out;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.Search input::placeholder {
    color: rgba(70, 131, 180, 0.5);
}

.SearchResult {
    background-color: steelblue;
    /* padding: 5px; */
    color: white;
    cursor: pointer;
    /* display: flex; */
    justify-content: space-between;
}

.SearchResult:hover {
    background-color: whitesmoke;
    padding: 5px;
    color: steelblue;
}

.SearchResult-Type {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: right;
}

.SearchResult-Name {
    font-size: 16px;
    padding: 5px;
}

@media (max-width: 450px) {
    .SearchContainer {
        display: none;
    }

    .SearchContainer.mobile {
        display: block;
        width: 100%;
    }

    .SearchContainer.mobile .SearchInputContainer {
        justify-content: center;
    }

    .SearchContainer.mobile .SearchInputContainer .Search {
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
    }
}